<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yangkw.pin.infrastructure.repository.UserOrderRelRepository">

    <insert id="insert" parameterType="com.yangkw.pin.domain.relation.UserOrderRelDO" useGeneratedKeys="true"
            keyColumn="id"
            keyProperty="userOrderRelDO.id">
    INSERT INTO user_order_rel (gmt_create,gmt_modified,order_id,user_id,leader,deleted)
    values (now(),now(),#{userOrderRelDO.orderId},#{userOrderRelDO.userId},#{userOrderRelDO.leader},
    0)
    </insert>
    <delete id="logicDelete">
        delete from user_order_rel where order_id = #{orderId} AND user_id = #{userId}
    </delete>
    <update id="updateLeader">
        UPDATE user_order_rel SET leader = 1 WHERE user_id = #{userId} AND order_id = #{orderId} and deleted = 0
    </update>

    <select id="queryPartner" resultType="java.lang.Integer">
        SELECT user_id FROM user_order_rel WHERE order_id=#{orderId} and deleted = 0
    </select>
    <select id="queryOwnOrderList" resultType="java.lang.Integer">
        SELECT order_id FROM user_order_rel WHERE user_id = #{userId} and deleted = 0
    </select>
    <select id="exit" resultType="java.lang.Integer">
        SELECT id FROM  user_order_rel WHERE user_id = #{userId} AND order_id = #{orderId} and deleted = 0  limit 1
    </select>
    <select id="isLeader" resultType="java.lang.Integer">
        SELECT id FROM user_order_rel WHERE user_id =#{userId} AND order_id=#{orderId} AND leader = 1 and deleted = 0 limit 1
    </select>
</mapper>